section .container, section.container{
  .h3, .h4 {
    color: @brand-text-green;
    font-family: "William Text Pro";
    font-size: 16px;
    font-weight: 700;
    &:hover {
      color: @hover-color;
    }
    i.fa {
      color: @brand-dark;
      &:hover {
        color: inherit;
      }
    }
  }
  .h3 {
    font-size: 20px;
  }

  .text-xs {
    font-size: 13px;
  }
}

.text-xs {
  color: @brand-text-grey;
  font-family: Roboto;
}

.flex{
  display: flex;
}

.rebrand {
  position: relative;

  .navbar-row {
    display: flex;

    .navbar-header {
      position: relative;
      width:    340px;

      .navbar-brand {
        img {
          max-height: @layout-new-navbar-height;
        }
      }
    }

    .navbar-right {
      height:  @layout-new-navbar-height;
      padding: 25px 0;
      width:   100%;

      li {
        a {
          padding-top:    0;
          padding-bottom: 0;
        }
        .navbar-phone {
          color:          #401b21;
          font-size:      16px;
          font-weight:    700;
          text-transform: uppercase;

          i.phone-icon {
            display:          inline-block;
            background-image: url(/img/icons/phone-icon.png);
            background-size:  cover;
            width:            @layout-new-icons-size;
            height:           @layout-new-icons-size;
            vertical-align:   middle;
            margin:           0 5px;
          }
        }
        .navbar-locale a {
          font-size: 11px;

          &:hover {
            background: @hover-color;
            border:     1px solid @hover-color;
          }
        }
        .navbar-auth a, a.navbar-auth {
          color: #a5b526;
          padding-right:0px!important;
          font-size:13px;
          &:hover {
            background-color: inherit;
          }
        }
        .nav-search {

          .input-group-btn {

            z-index: 1;
            left:    -25px;

            button:hover {
              background: @hover-color;
              border:     1px solid @hover-color;
            }
            i {
              font-size: 15px;
            }
          }
          input {
            border-radius: 25px;
            height:        @layout-new-icons-size;
            min-height:    @layout-new-icons-size;
            overflow:      hidden;
            z-index:       0;
          }
        }
      }
    }
  }

  .navbar-nav {
    > li > button {
      padding-top:    15px;
      padding-bottom: 15px;
    }
    a {
      // color: #401b21;
      font-size:    14px;
      font-weight:  700;
      font-variant: small-caps;
    }
  }

  .nav-cart {
    i {
      margin-right: 5px;
    }
    a {
      color:       #a5b526;
      font-size:   14px;
      font-weight: 400;
    }
  }
}

.panel-cart-1 {
  background-color: #F6D7D7;
  border:           1px solid #A9DCC5;
  border-bottom:    none;
  .b-b, b-t {
    border-color: #A9DCC5;
  }
}

.panel-cart-2 {
  background-color: #E9CACA;
  border:           1px solid #A9DCC5;
  .b-b, b-t {
    border-color: #A9DCC5;
  }
}

.owl-carousel {
  .owl-shop-block {
    position:    absolute;
    bottom:      75px;
    margin:      0 auto;
    text-align:  center;
    color:       #ffffff;
    font-family: "William Text Pro";
    width:       100%;
    .owl-shop-title {
      &:before {
        display:         inline-block;
        content:         " ";
        background:      url(/img/icons/flower.png);
        width:           71px;
        height:          58px;
        vertical-align:  sub;
        background-size: cover;
      }
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      font-size:   50px;
      font-weight: 700;
      line-height: 43px;
    }
    .owl-shop-description {
      display:      inline-block;
      text-align:   justify;
      margin-top:   20px;
      margin-left:  85px;
      max-width:    620px;
      text-shadow:  0 1px 2px rgba(0, 0, 0, 0.5);
      font-family:  Roboto;
      font-size:    13px;
      font-weight:  400;
      margin-right: 15px;
    }

    .owl-shop-price {
      color:       #ffffff;
      font-style:  italic;
      line-height: 43px;
      font-size:   50px;
      min-height:  50px;
      display:     flex;
      align-items: flex-end;

      .text-right {
        padding-right: 15px;
        text-align:    right;
        width:         100%;
      }
      span {
        font-size: 30px;
      }
    }
  }
  &.owl-with-dots {
    .owl-dots {
      position: absolute;
      bottom:   40px;
      right:    200px;
      .owl-dot {
        width:         9px;
        height:        9px;
        float:         left;
        margin:        0 5px;
        background:    #C4C4C4;
        border-radius: 15px;
        overflow:      hidden;
        &.active {
          background: #D3E072;
        }
        &:hover {
          background: #ffdd00;
        }
      }
    }
  }
}

.ad-carousel {
  /*
    .owl-stage {
      padding: 20px 0px;
      display: flex;
      align-items: center;
    }
    */
  .owl-nav.disabled {
    display: block !important;
  }

  .owl-nav div {
    background: #fff;
  }

}

.catalog {

  .text-green {
    color:       #a5b526;
    font-family: "William Text Pro";
    font-size:   16px;
    font-weight: 700;
  }

  &:hover {
    .text-green {
      color:       @hover-color;
      font-family: "William Text Pro";
      font-size:   16px;
      font-weight: 700;
    }
  }
}

.green-button {
  width:          @layout-new-icons-size;
  height:         @layout-new-icons-size;
  line-height:    @layout-new-icons-size;
  border:         1px @layout-new-background-color solid;
  border-radius:  20px;
  overflow:       hidden;
  display:        inline-block;
  text-align:     center;
  color:          #a5b526 !important;
  font-size:      11px;
  font-weight:    700;
  vertical-align: top;
  &.raised {
    color:      #fff !important;
    background: @layout-new-background-color;
  }
  &:hover {
    color: #fff !important;
  }
}

// fix for button in a
a:hover .btn-success {
  background-color: #5F7B3F;
}

i.key-icon {
  background-image: url(/img/icons/key.png);
  display:          inline-block;
  background-size:  cover;
  width:            @layout-new-icons-size;
  height:           @layout-new-icons-size;
  vertical-align:   middle;
  background-color: @layout-new-background-color;
  border-radius:    50%;
  a.navbar-auth:hover & {
    background-color: @hover-color;
  }
}

i.close-modal {
  background-image: url(/img/icons/close-modal.png);
  display:          inline-block;
  background-size:  cover;
  width:            26px;
  height:           26px;
  vertical-align:   middle;
  a:hover & {
    background-image: url(/img/icons/close-modal-hover.png);
  }
}

i.close-cart {
  background-image: url(/img/icons/close-cart.png);
  display:          inline-block;
  background-size:  cover;
  width:            12px;
  height:           11px;
  vertical-align:   middle;
  a:hover & {
    background-image: url(/img/icons/close-cart-hover.png);
  }
}

i.close-dropcart {
  background-image: url(/img/icons/close-dropcart.png);
  display:          inline-block;
  background-size:  cover;
  width:            12px;
  height:           11px;
  vertical-align:   middle;
  a:hover & {
    background-image: url(/img/icons/close-dropcart-hover.png);
  }
}

i.user-auth-icon {
  background-image:  url(/img/icons/user.png);
  background-repeat: no-repeat;
  display:           inline-block;
  background-size:   cover;
  width:             14px;
  height:            14px;
  vertical-align:    middle;
}

.categorymenu.list-no-border {
  ul {
    padding-left: 0px;
  }
  ul li {
    list-style: none;
  }
  li a:hover {
    color: @hover-color;
  }
}

.paginate a {
  .brand-icon-right {
    display:          inline-block;
    vertical-align:   middle;
    background-image: url(/img/icons/arrow-right.png);
    height:           10px;
    margin:           0 5px;
    width:            18px;
  }
  .brand-icon-left {
    display:          inline-block;
    margin:           0 5px;
    vertical-align:   middle;
    background-image: url(/img/icons/arrow-left.png);
    height:           10px;
    width:            18px;
  }
  &.btn-circled {
    padding-top: 6px;
  }
  &[disabled] {
    .brand-icon-left {
      background-image: url(/img/icons/arrow-left-dis.png);
    }
    .brand-icon-right {
      background-image: url(/img/icons/arrow-right-dis.png);
    }
  }
  &:hover:not([disabled]) {
    .brand-icon-left {
      background-image: url(/img/icons/arrow-left-hover.png);
    }
    .brand-icon-right {
      background-image: url(/img/icons/arrow-right-hover.png);
    }
  }
}

i.cart-icon {
  background-image: url(/img/icons/cart.png);
  display:          inline-block;
  background-size:  cover;
  width:            28px;
  height:           32px;
  vertical-align:   middle;
  &:hover {
    background-image: url(/img/icons/cart-hover.png);
  }
}



.brand-header {
  &:before {
    display:         inline-block;
    margin-right:    5px;
    margin-bottom:   -6px;
    content:         " ";
    background:      url(/img/icons/flower.png);
    width:           71px;
    height:          57px;
    vertical-align:  sub;
    background-size: cover;
  }
  padding:     15px 0;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color:       #ffffff;
  font-family: "William Text Pro";
  font-size:   40px;
  font-weight: 700;
  line-height: 43px;
}

.block-header {
  &:before {
    display:             inline-block;
    background-image:    url(/img/icons/li-flower.png);
    background-repeat:   no-repeat;
    background-position: center center;
    content:             " ";
    width:               38px;
    height:              38px;
    vertical-align:      middle;
    margin-top:          -6px;
    margin-right:        8px;
  }
  color:       #401b21;
  font-family: "William Text Pro";
  font-size:   25px;
  font-weight: 700;
  line-height: 43px;
  padding-left: 64px;
  text-indent: -51px;

  div {
    text-indent: 0px;
  }
  .m-r-md {
    margin-right: 17px;
  }
  a {
    float:       right;
    color:       #a5b526;
    font-family: "William Text Pro";
    font-size:   12px;
    font-weight: 400;
    line-height: 43px;
    &:hover {
      color: @hover-color;
    }
  }
  &.comment-header {
    &:before {
      margin-right: 0px;
      background-image:  url(/img/icons/comments.png);
      background-repeat: no-repeat;
    }
  }
  .map-bg & {
    &:before {
      margin-right: 0px;
      background-image:  url(/img/icons/sun.png);
      background-repeat: no-repeat;
      width:               40px;
    }
  }
}

.fun-collapse {
  overflow: hidden;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    height: 30%;
    width: 100%;
    background: linear-gradient(transparent, #E2E2E2);
  }

  &.show-all {
    &:after {
      content: none
    }
  }
}

.shop-categories-widget {
  white-space: nowrap;
  overflow:    auto;
  &::-webkit-scrollbar {
    height: 8px;
  }
  article {
    display:   inline-block;
    padding:   15px 0;
    max-width: 145px;
    img {
      max-width: 100%;
    }
    p {
      &:hover {
        color: @hover-color;
      }
      color:       #a5b526;
      font-family: "William Text Pro";
      font-size:   14px;
      font-weight: 400;
    }
  }
}

article.shop-product {

  .panel {
    transition: all 360ms;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.33);
    }

    &a {
      color: @hover-color;
    }
  }

  .shop-product-price {
    display:     inline;
    color:       @hover-color;
    font-family: "William Text Pro";
    font-weight: 400;
    font-style:  italic;
    font-size:   25px;
    span {
      font-size: 13px;
    }
  }
  .h4 {
    height:     40px;
    min-height: 40px;
    overflow:   hidden;
    a {
      color:       #a5b526;
      font-family: "William Text Pro";
      font-size:   18px;
      font-weight: 700;
      &:hover {
        color: @hover-color;
      }
    }
  }
  .text-xs {
    height:      35px;
    min-height:  35px;
    overflow:    hidden;
    text-align:  justify;
  }
  a.cart-button {
    float: right;
  }
}

#content, .content {
  background: #EEEFEE;

  .breadcrumb {
    color:       #8f8f8f;
    font-family: Roboto;
    font-size:   12px;
    font-weight: 400;
    line-height: 34px;
    padding:     9px 0 8px;
    > li + li:before {
      content: "-";
      padding: 0 5px;
      color:   #8f8f8f;
    }
    a, li.active {
      color:       #8f8f8f;
      font-family: Roboto;
      font-size:   12px;
      font-weight: 400;
      line-height: 34px;
      opacity:     1;
    }
    a:hover {
      color: @hover-color;
    }

  }
}

#content-dark {
  background-color: #E2E2E2;
  box-shadow:       inset 0 0 10px rgba(0, 0, 0, 0.2)
}

#footer {

  background-size:     50% 100%;
  background-image:    url(/img/footer-bg.png);
  background-repeat:   no-repeat;
  background-position: right;

  h4 {
    color:       #ffffff;
    font-family: "William Text Pro";
    font-size:   15px;
    font-weight: 700;
    line-height: 25px;
  }

  .list-unstyled {
    li {
      line-height: 20px;
      a {
        opacity:     0.3;
        color:       #ffffff;
        font-family: "William Text Pro";
        font-size:   12px;
        font-weight: 400;
        line-height: 13px;
        &:hover {
          opacity:     1;
          color:       #d3e068;
          font-family: "William Text Pro";
          font-size:   12px;
          font-weight: 400;
          line-height: 13px;
        }
      }
    }
  }

  hr {
    height:  1px;
    opacity: 0.2;
    margin:  0;
    padding: 0;
  }

  .contact-row {
    div:first-child .wrapper-sm {
      padding-left: 0;
    }
    div p.text-muted {
      font-family: 'Roboto';
      color:       #abaeb2 !important;;
      font-size:   9px;
    }
    div p.text-white {
      font-family: 'William Text Pro';
    }
    a:hover p.text-white {
      color: #d3e068;
    }
    a img {
      margin-bottom: 10px;
    }
    a div {
      margin-left: 15px;
    }
  }

  .socicons {
    margin-top: 10px;
    a {
      width:          34px;
      height:         34px;
      padding:        7px 7px;
      color:          #fff;
      margin:         auto;
      vertical-align: middle;
      border:         1px solid #694c51;
      border-radius:  0px;
    }
    a.soc-vk:hover {
      background-color: #5477a1;
      border-color:     #5477a1;
    }
    a.soc-od:hover {
      background-color: #f2720c;
      border-color:     #f2720c;
    }
    a.soc-facebook:hover {
      background-color: #3a4f88;
      border-color:     #3a4f88;
    }
    a.soc-youtube:hover {
      background-color: #e02f2f;
      border-color:     #e02f2f;
    }
    a.soc-twitter:hover {
      background-color: #69afeb;
      border-color:     #69afeb;
    }
    a.soc-rss:hover {
      background-color: #bc3d3d;
      border-color:     #bc3d3d;
    }
  }

  .text-copyright {
    opacity:     0.2;
    color:       #ffffff;
    font-family: Roboto;
    font-size:   11px;
    font-weight: 400;
    line-height: 13px;
  }

  .text-campaing {
    opacity:     0.3;
    color:       #ffffff;
    font-family: Roboto;
    font-size:   11px;
    font-weight: 400;
    line-height: 13px;
    display:     inline-flex;
    &:hover {
      opacity:     1;
      color:       #d3e068;
      font-family: Roboto;
      font-size:   11px;
      font-weight: 400;
      line-height: 13px;
    }
  }

}

.nav-bar-sub {
  a {
    color:          @hover-color;
    font-family:    "William Text Pro";
    font-size:      14px;
    font-weight:    700;
    text-transform: uppercase;
  }
}

.container-lg {
  .container;

  width:     100% !important;
  max-width: 1600px;
}

[v-cloak] {
  display: none !important;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 18px;
}

.col-prod {
  padding-top: 1.2em;
  font-size:   13px;
  font-weight: 700;
  float:       right;
  color:       #401b21;
}

#cart-affix-target {
  .top-right .padder {
    padding-top:   13px;
    padding-right: 18px;
  }
}

.prod-desc {
  .padder-v-micro.text-sm {
    padding-top: 1px;
    height:      55px;
    overflow:    hidden;
  }
  .row-flex {
    align-items: center;
    margin-top:  30px;
  }
}

div#shop-header {
  padding-left: 48px;
}

#product {
  .pluso {
    margin-right: 10px;
  }
  .btn-success:hover {
    background-color: #007e1e;
  }
  .pluso {
    margin-left: 5px;
  }
  a.pluso-more {
    margin-right: 0px;
  }
  .product-right {
    .list-unstyled {
      margin-bottom: 0px;
      span {
        font-size:   14px;
        margin-left: 5px;
      }
    }
    .bg-white > .wrapper {
      padding-left:  20px;
      padding-right: 20px;
    }
    .col-xs-3.no-padder.text-black.m-t {
      font-size: 16px;
    }
  }
  .prod-warnings {
    .block-header {
      margin-top:    17px;
      margin-bottom: 4px;
    }
    .owl-carousel .owl-stage {
      padding-bottom: 10px;
    }
  }
}

.comments {
  .b-b {
    border-bottom: 1px solid #cecece;
    &:last-child {
      border-bottom: none;
    }
  }
  .col-md-4 {
    padding-right: 0px;
    padding-left:  30px;
  }

  div > .btn-primary {
    width: 171px;
  }
}

.header-top .row-flex {
  display:         flex;
  flex-flow:       row wrap;
  flex-wrap:       nowrap;
  align-items:     center;
  justify-content: space-between;
  margin-left:     30px;
  li {
    flex-grow: 1;
    &.pull-right {
      flex-grow: 0;
      margin-right: 23px;
    }
  }
}

.login .panel {
  display:         flex;
  flex-direction:  column;
  justify-content: space-between;
  padding-top:     20px;
  padding-bottom:  22px;
}

#shop-order {
  .select2.form-control {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
  }
  .select-group .caret {
    position:       absolute;
    top:            ~"calc(50% - 9px)";
    right:          32px;
    width:          12px;
    height:         7px;
    border:         0 !important;
    background:     url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHBAMAAADOnLEXAAAAAXNSR0IB2cksfwAAABhQTFRFAAAAn7gAoLYAobcAoLYAoLYAn7cAoLYAlBaVrgAAAAh0Uk5TAD1GOf/7dfpj16nEAAAAK0lEQVR4nGNgZAACBQYTBwYGVjcGFhcGhhIg08WBHcgCckEcIBfEAXKBHABr4gR0v5AEvQAAAABJRU5ErkJggg==') no-repeat;
    pointer-events: none;
  }
}

.flex-column {
  display:         flex;
  flex-direction:  column;
  justify-content: space-between;

  > div:last-child {
    flex-grow: 1;
  }
}

.flex-item-bootom {
  align-items: flex-end;
  display:     flex;
}

.news-date {
  width: 92px;
  height: 48px;
  position: absolute;
  background-color: @layout-new-background-color;
  color:@brand-dark;
  padding-top: 14px;
  text-align: center;
  font-style: italic;
}

.news {
  .h4 a {
    color: @brand-text-green;
    font-family: "William Text Pro";
    font-size: 16px;
    font-weight: 700;
  }
}
.news-email,
.right-widget {
  p.h3 {
    color: @brand-dark;
    font-family: "William Text Pro";
    font-size: 18px;
    font-weight: 700;
    &:hover {
      color: @brand-dark;
    }
    &:before {
      display: inline-block;
      background-image: url(/img/other/2.png);
      background-repeat: no-repeat;
      background-position: center center;
      content: " ";
      width: 38px;
      height: 38px;
      margin-bottom: -12px;
      margin-right: 5px;
    }
  }
}

#post-header.catalog-item{
  .time {
    position: relative;
    width: 192px;
    height: 81px;
    margin-left: 15px;
    padding-top: 20px;
    background: #d3e068;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border: 40px solid transparent;
      top: 81px;
      border-top-color: #d3e068;
      border-bottom: 0;
      border-width: 22px 96px 22px 96px;
    }
    span {
      font-style: italic;
    }
  }
  .m-l-xl {
    margin-left: 90px;
  }
  h1.brand-header {
    font-size: 30px;
    text-indent: -86px;
    &::before{
      margin-right: 15px;
    }
  }
  p {
    font-family: Roboto;
  }
}

.row.equal {
  display: flex;
  flex-wrap: wrap;
}

.weather-img {
  height: 430px;
  margin: 0 auto;
}

.map-bg {
  background: url(/img/other/map-bg.jpg) center;
  position: relative;
  overflow: hidden;
}

.item {
  position: relative;
  transition: 340ms;
  .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.5) 100%);
  }
  .center {
    position: absolute;
    /*top:50%;*/
    width: 100%;
    height: 100%;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }

  .opacity {
    background-color: rgba(0, 0, 0, 0.75);
  }

}

.item-overlay {
  //display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 340ms;
  z-index: 10;
  &.active,
  .item:hover & {
    //display: block;
    opacity: 1;
    transition: 500ms;
  }
  .item:not(:hover) & {
    transition: 400ms;
  }
}
.main-news {
  background-color: #fff;
}
.main-events {
  img.img-responsive{
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    margin: 0 auto;
    height: 200px;
    &.first-image{
      height: 350px;
    }
  }
}

.ui-datepicker {
  background-color: #fff;
  padding: 10px;
}

.video_container {
  .text-white {
    color: white!important;
  }
}