.rebrand {
  position: relative;

  //.b-b {
  //  border-bottom: 1px solid #A1D4BD;
  //}
  .navbar-header {
    .navbar-brand {
      &.navbar-brand-left {
        position: absolute;
        left: 0;

      }
      img {
        max-height: @layout-new-navbar-height;
      }
    }
    position: relative;
  }
  
  .navbar-right {
    li {
      a {
        padding-top: 0;
        padding-bottom: 0;
      }
      .navbar-phone {
        i.phone-icon {
          display: inline-block;
          background-image: url(/img/icons/phone-icon.png);
          background-size: cover;
          width: @layout-new-icons-size;
          height: @layout-new-icons-size;
          vertical-align: middle;
          margin: 0 5px;
        }
        color: #401b21;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .navbar-auth {
        a {
          color: #a5b526;
        }
      }
      .nav-search {
        .input-group-btn {
          z-index: 1;
          left: -25px;
        }
        input {
          border-radius: 25px;
          height: @layout-new-icons-size;
          min-height: @layout-new-icons-size;
          overflow: hidden;
          z-index: 0;
        }
      }
    }
    height: @layout-new-navbar-height;
    padding: 25px 0;
    margin-left: 340px;
  }
  .navbar-nav {
    > li > button {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    a {
      // color: #401b21;
      font-size: 14px;
      font-weight: 700;
      font-variant: small-caps;
    }
  }

  .nav-cart {
    i {
      margin-right: 5px;
    }
    a {
      color: #a5b526;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.panel-cart-1 {
  background-color: #F6D7D7;
  border: 1px solid #A9DCC5;
  border-bottom: none;
  .b-b, b-t {
    border-color: #A9DCC5;
  }
}
.panel-cart-2 {
  background-color: #E9CACA;
  border: 1px solid #A9DCC5;
  .b-b, b-t {
    border-color: #A9DCC5;
  }
}

.owl-carousel {
  .owl-shop-block {
    position: absolute;
    bottom: 75px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-family: "William Text Pro";
    .owl-shop-title {
      &:before {
        display: inline-block;
        content: " ";
        background: url(/img/icons/flower.png);
        width: 71px;
        height: 58px;
        vertical-align: sub;
        background-size: cover;
      }
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      font-size: 50px;
      font-weight: 700;
      line-height: 43px;
    }
    .owl-shop-description {
      display: inline-block;
      text-align: justify;
      margin-top: 20px;
      margin-left: 100px;
      max-width: 620px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      font-family: Roboto;
      font-size: 13px;
      font-weight: 400;
      margin-right: 15px;
    }

    .owl-shop-price {
      display: inline-block;
      position: absolute;
      bottom: 0;
      color: #ffffff;
      font-style: italic;
      line-height: 43px;
      font-size: 50px;
      span {
        font-size: 30px;
      }
    }
  }
  &.owl-with-dots {
    .owl-dots {
      position: absolute;
      bottom: 40px;
      right: 200px;
      .owl-dot {
        &.active {
          background: #D3E072;
        }
        width: 9px;
        height: 9px;
        float: left;
        margin: 0 5px;
        background:#C4C4C4;
        border-radius: 15px;
        overflow: hidden;
      }
    }
  }
}

.ad-carousel {
  .owl-stage {
    padding: 20px 0px;
    display: flex;
    align-items: center;
  }
  .owl-nav.disabled {
    display: block!important;
  }
}


.catalog{

  .text-green{
    color: #a5b526;
    font-family: "William Text Pro";
    font-size: 16px;
    font-weight: 700;
  }

  &:hover {
    .text-green {
      color: #577c36;
      font-family: "William Text Pro";
      font-size: 16px;
      font-weight: 700;
    }
  }
}


.green-button {
  width: @layout-new-icons-size;
  height: @layout-new-icons-size;
  line-height: @layout-new-icons-size;
  border: 1px @layout-new-background-color solid;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  color: #a5b526!important;
  font-size: 11px;
  font-weight: 700;
  vertical-align: top;
  &.raised {
    color: #fff!important;
    background: @layout-new-background-color;
  }
}

// fix for button in a
a:hover .btn-success {
  background-color: #5F7B3F;
}

i.key-icon {
  background-image: url(/img/icons/key.png);
  display: inline-block;
  background-size: cover;
  width: @layout-new-icons-size;
  height: @layout-new-icons-size;
  vertical-align: middle;
}

i.user-auth-icon {
  background-image: url(/img/icons/user.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

button {
  .brand-icon-right {
    display: inline-block;
    vertical-align: middle;
    background-image: url(/img/icons/arrow-right.png);
    height: 10px;
    margin: 0 5px;
    width: 18px;
  }
  .brand-icon-left {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    background-image: url(/img/icons/arrow-left.png);
    height: 10px;
    width: 18px;
  }
  &[disabled] {
    .brand-icon-left {
      background-image: url(/img/icons/arrow-left-dis.png);
    }
    .brand-icon-right {
      background-image: url(/img/icons/arrow-left-right.png);
    }
  }
  &:hover:not([disabled]) {
    .brand-icon-left {
      background-image: url(/img/icons/arrow-left-hover.png);
    }
    .brand-icon-right {
      background-image: url(/img/icons/arrow-right-hover.png);
    }
  }
}

i.cart-icon {
  background-image: url(/img/icons/cart.png);
  display: inline-block;
  background-size: cover;
  width: 28px;
  height: 32px;
  vertical-align: middle;
  &:hover {
    background-image: url(/img/icons/cart-hover.png);
  }
}

.brand-header {
  &:before {
    display: inline-block;
    margin-right: 5px;
    content: " ";
    background: url(/img/icons/flower.png);
    width: 71px;
    height: 53px;
    vertical-align: sub;
    background-size: cover;
  }
  padding: 15px 0;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: "William Text Pro";
  font-size: 40px;
  font-weight: 700;
  line-height: 43px;
}

.block-header {
  &:before {
    display: inline-block;
    background-image: url(/img/icons/li-flower.png);
    background-position: center center;
    content: " ";
    width: 58px;
    height: 58px;
    vertical-align: middle;
    margin-top: -6px;
  }
  color: #401b21;
  font-family: "William Text Pro";
  font-size: 25px;
  font-weight: 700;
  line-height: 43px;
  a {
    float: right;
    color: #a5b526;
    font-family: "William Text Pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 43px;
  }
  &.comment-header {
    &:before {
      background-image: url(/img/icons/comments.png);
      background-repeat: no-repeat;
    }
  }
}

.shop-categories-widget {
  white-space: nowrap;
  overflow: auto;
  &::-webkit-scrollbar {
    height: 8px;
  }
  article {
    display: inline-block;
    padding: 15px 0;
    max-width: 145px;
    img {
      max-width: 100%;
    }
    p {
       &:hover {
        color: #577c36;
      }
      color: #a5b526;
      font-family: "William Text Pro";
      font-size: 14px;
      font-weight: 400;
    }
  }
}

article.shop-product {

  .panel {
    transition: all 360ms;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.33);
    }

    &a{
      color: #577c36;
    }
  }


  .shop-product-price {
    display: inline;
    color: #577c36;
    font-family: "William Text Pro";
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    span {
      font-size: 13px;
    }
  }
  .h4 {
    a {
      color: #a5b526;
      font-family: "William Text Pro";
      font-size: 18px;
      font-weight: 700;
      &:hover {
        color: #577c36;
      }
    }
  }
  a.cart-button {
    float: right;
  }
}


#content, .content {
  background: #EEEFEE;


  .breadcrumb {
    color: #8f8f8f;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 34px;
    > li + li:before {
      content: "-";
      padding: 0 5px;
      color: #8f8f8f;
    }
    a, li.active {
      color: #8f8f8f;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      line-height: 34px;
      opacity: 1;
    }
  }
}

#content-dark {
  background-color: #E2E2E2;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2)
}

#footer{



  background-size: 50% 100%;
  background-image: url(/img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: right;

  h4{
    color: #ffffff;
    font-family: "William Text Pro";
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
  }

  .list-unstyled{
    li{
      a{
        opacity: 0.3;
        color: #ffffff;
        font-family: "William Text Pro";
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
        &:hover{
          opacity: 1;
          color: #d3e068;
          font-family: "William Text Pro";
          font-size: 12px;
          font-weight: 400;
          line-height: 13px;
        }
      }
    }
  }

  hr{
    height: 1px;
    opacity: 0.2;
    margin: 0;
    padding: 0;
  }


  .text-copyright{
    opacity: 0.2;
    color: #ffffff;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
  }

  .text-campaing{
    opacity: 0.3;
    color: #ffffff;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    &:hover{
      opacity: 1;
      color: #d3e068;
      font-family: Roboto;
      font-size: 11px;
      font-weight: 400;
      line-height: 13px;
    }
  }

}


.nav-bar-sub{
  a{
    color: #577c36;
    font-family: "William Text Pro";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
}


.container-lg{
  .container;

  width: 100%!important;
  max-width: 1600px;
}

[v-cloak] {display: none}


// xs
@media (max-width: 767px) {
  .rebrand {
    .navbar-header {
      .navbar-brand {
        &.navbar-brand-left {
          position: relative;
        }
      }
    }
  }
}