/* Extra small devices (phones, less than 768px) */
/* xs */

@media (max-width: @screen-xs-max) {
  #header {
    .rebrand {
      .navbar-header {
        .navbar-brand {
          &.navbar-brand-left {
            position: relative;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    

    .navbar-collapse.menu-shop-header {
      li {
        margin-left: 10px;
      }
      .dropdown-menu {
        width: 100%;
      }
    }
    .submenu {
      .nav-search {
        .input-group-btn {

          z-index: 1;
          left:    -25px;

          button:hover {
            background: @hover-color;
            border:     1px solid @hover-color;
          }
          i {
            font-size: 15px;
          }
        }
        input {
          border-radius: 25px;
          height:        @layout-new-icons-size;
          min-height:    @layout-new-icons-size;
          overflow:      hidden;
          z-index:       0;
        }
      }
    }
  }  
  
  #shop-header .dropdown-menu {
    width: 100vw;
    margin-left: -100%;
  }
  section{
    .h4 {
      font-size: 14px;
    }
  }
  #post-header.catalog-item {
    .min-h-h {
      max-height: 658px;
      height: 100vw;
      min-height: 658px;
    }
    .pull-bottom {
      margin-left: 0px!important;
      height: 100%;
      padding-top: 110px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .row {
      margin: 0px;
    }
    h1.brand-header {
      font-size: 34px;
      text-align: center;
      text-indent: 0px;
      &:before{
        display: none;
      }
    }
  }
  #content {
    .block-header {
      font-size: 20px;
      line-height: 14px;
      &.col-xs-12 {
        text-align: center;
        background: #EEEFEE;
      }
    }
    .paginate > div {
        padding: 0 0px;
    }
  }
  .owl-carousel {
    .owl-shop-block {
      .owl-shop-title {
        font-size: 34px;
        text-align: center;
        &:before {
          display: none;
        }
      }
      .owl-shop-description {
        margin-left: 15px;
        text-align: center;
      }
    }
    &.owl-with-dots .owl-dots {
      right: 15px;
    }
  }

  .owl-carousel.ad-carousel {
    width: 100%;
    height: 100px;
    margin: auto;
    
    .owl-stage {
      padding: 0px 0px;
    } 
    .owl-item img {
      height: 100px;
      width: auto;
      margin: auto;
    }
    .owl-nav.disabled {
      display: none!important;
    }
  }

  .main-events {
    img.img-responsive{
      &.first-image{
        height: 178px;
      }
    }
    .pos-rlt.change-xs {
      display: flex;
      .news-date {
        background-color: inherit;
        text-align: left;
        position: inherit;
        width: 89px;
        flex: none;
      }
    }
  }
  .main-secondary-slider {
    &:before, &:after{
      display: none;
    }
    .container{
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .row.equal {
      margin-left: 0;
      margin-right: 0;
    }
    .col-xs-12{
      padding-left: 0;
      padding-right: 0;
    }
  }
  .main-news {
    padding: 0;
    .panel {
      box-shadow: none;
      border: none;
      margin-bottom: 0px;
    }
    .news-date {
      background-color: inherit;
      text-align: left;
      position: inherit;
      padding-top: 0px;
      height: auto;
      padding-bottom: 5px;
    }
    p.text-xs {
      padding-top: 10px;
    }
    .wrapper-md {
      padding: 0;
    }
  }

  .main-advertising{
    width: 100%;
    overflow-x: scroll;
    .row.equal {
      width: 400%;
    }
  }
  
  #footer {
    .phone {
      a {
        width: 70%;
        white-space: nowrap;
        margin: auto;
      }
      p.text-white {
        font-size: 24px;
      }
    }
    .contact-row {
      padding: 0;
    }
  }
  #cart-modal .img-full {
    width: 50%;
    margin: auto;
  }
  .modal .modal-dialog .modal-content {
    padding: 30px 0px;
    .block-header{
      padding-top: 30px;
    }
  }
  .modalpage.modal {
    .modal-content {
      padding: 0 7px;
      .block-header {
        text-align: center;      
      }  
      .modal-body {
      }
    }
  }
}


/* sm, md */
@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
  #header {
    .rebrand {
      padding-left: 0px;
      padding-right: 0px;
      
      .navbar-brand {
        padding: 0 0px;
      }
    
      .menu-shop-header{
        display: none!important;
      }

      .menu-site-header{
        display: block!important;
        overflow-y: auto!important;
      }

    }
  }
  
  #shop-header {
    padding-left:0px;
    .btn-tablet {
      float: left;
      margin-top: 8px;
    }
    > div {
      padding-left:0px;
      padding-right:0px;
    }
    .navbar-nav {
      padding-top: 4px;
      > li > a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .dropdown-menu {
      width: 300%;
      margin-left: -200%;
    }
  }
  #content {  
    section {
      > container {
        width:100%;
      }
    }
  .categorymenu {
    padding-left:0px;
    padding-right:5px;
  }
  }
  .shop-products .shop-product{
    padding-left: 5px;
    padding-right: 5px;
    .wrapper-md {
        padding: 0.7em;
    }
  }
}


/* Small devices (tablets, 768px and up) */
/* sm */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  #header {
    .rebrand {
      .navbar-header {
        .navbar-brand {
          &.navbar-brand-left {
            position: relative;
          }
          img {
            width: 200px;
          }
        }
      }
    }
  }
  
  #shop-header {
    .navbar-nav {

      > li > a {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 12px;
      }
    }
  }

}



/* Medium devices (desktops, 992px and up) */
/* md */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max)  {

  #footer {  
    .contact-row > div {
        padding: 0 0px;
        
        &:nth-of-type(1) {
          width: 30%;
        }
        &:nth-of-type(2) {
          width: 23%;
        }
        &:nth-of-type(3) {
          width: 20%;
        }
        &:nth-of-type(4) {
          width: 27%;
        }        
    }
  }

  .modal .modal-dialog {
    width: 90%;
    .modal-content {
      padding: 30px 40px;
    }  
  }  
}

/* Large devices (large desktops, 1200px and up) */
/* lg */
@media (min-width: @screen-lg-min) { 

}


@media (min-width: 900px){
  #header .rebrand .menu-site-header {
    display: block!important;
    overflow-y: unset!important;
  }
}

@media (min-width: 800px) and (max-width: 1100px){
  #topmenu.modal .flex-menu-item ul {
    position: inherit!important;
  }
}