#header .menu-shop-header {
    ul.navbar-nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      
      > li {
        
        &:first-child {
          margin-left: -14px;
        }
        &:last-child {
          a.dropdown-toggle {
            padding-right: 0px;
          }
        }
      }
      
    }

    .dropdown-menu {
        width: 250px;
        background-color: #577c36;
        padding-top: 10px;
        padding-bottom: 20px;
    
        li {
            background-color: initial!important;
        }
        
        a {
            white-space: normal;
            font-weight: normal;
            
            &:hover {
                background-color: initial!important;
                color: #d3e068;
            }
        }
    
    }
}

#header{
  .navbar-nav  {
    > li {
      > button {
        padding-top: 10px;
        padding-bottom: 13px;
        &:hover {
          color:@hover-color;
        }
      }

      > a {
        font-size: 13px;
        padding: 10px 10px;

        &:hover,
        &:focus {
          background-color: #fff;
          color: #577c36;
        }
      }

      &.dropdown > a:focus {
        background-color: #fff;
        color: #577c36;
        border-bottom: 5px solid #577c36;
        padding-bottom: 10px;
        transition: unset;
      }
    }

    li:last-child .dropdown-menu {
      left: auto;
      right: 0;
    }

    li.with-wz .dropdown-menu  {
      background-image: url(/img/icons/wz-icon.png);
      background-position: ~"calc(100% - 20px) calc(100% - 20px)";
      background-repeat: no-repeat;
    }

  }
}

.cart-dropdown {
    margin-right: 15px;
    margin-left: -15px;

  &.notEmpty {
    i.cart-icon {
      background-image: url(/img/icons/cart-red.png);
    }
    a#dropdownMenuShopCart {
      color: #d13636;
    }
  }
  &.open {
   #dropdownMenuShopCart {
      box-shadow:0px -5px 0px 0px #4F7B37 inset;
      color: #d13636;
      i.cart-icon {
        background-image: url(/img/icons/cart-hover.png);
      }
    }
  }
  #dropdownMenuShopCart {
    padding-left: 0px;
    padding-right: 0px;
    
    &:hover {
      color: #d13636;
      background-color: #fff;
      i.cart-icon {
        background-image: url(/img/icons/cart-hover.png);
      }
    }
  }
  .dropdown-menu {
    background-color: #4F7B37;
    color: #fff;
    border-radius: 0px;
    margin-left: -30px;
    min-width: ~"calc(100% + 30px)";
    .b-b {
      border-color: #688E53;
    }
    .text-sm {
        font-family:"Roboto";
        font-size: 12px;
        color:#a1b98b;
    }

    a.text-white:hover, i:hover {
      color: #d3e068;
    }

    .btn-success {
        padding-top: 11px;
        padding-bottom: 7px;
      &:hover {
        background-color: #d3e068;
      }
    }
  }
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  min-width: auto;
  width: 100%;
  border-top: 0;
  li {
    background-color: #3f7d2c;
    a {
      color: @brand-white;
      &:hover {
        background-color: #3f7d2c!important;
        color: #d3e068;
      }
    }
  }
}

.menu-header-mobile {
  background-image: url(/img/icons/wz-icon.png);
  background-position: ~"calc(100% - 20px) calc(100% - 20px)";
  background-repeat: no-repeat;
  background-color: #3f7d2c;
  margin: 0 -15px;
  .flex {
    justify-content: space-between;
    padding-top: 10px;
    .m-l-md {
      margin-left: 15px;
    }
    .m-r-md {
      margin-right: 15px;
    }
    .avatar img {
      border-radius: 500px;
      width: 100%;
      height: 32px;
      width: 32px;
    }
    a.navbar-auth {
      color: #a5b526;
      padding-right: 0px!important;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .navbar-nav {
    margin: 7.5px 0px;
    > li > a {
      padding: 10px 15px!important;
    }
    > li.dropdown > a:focus {
      border-bottom:none!important;
    }
  }
  .dropdown-menu {
    background-image: none!important;
    background-color: inherit!important;
    li {
      background-color: inherit!important;
    }
  }
  li {
    a {
      color: @brand-white;
      &:hover {
        background-color: inherit!important;
        color: #d3e068!important;
      }
      &:focus {
        border-bottom:none;
      }
    }
  }
}